@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f6fa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c1c7d0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0a8b4;
}
